#grid-container {
    display: grid;
    grid-template-columns: repeat(60, 25.5px); /* 20 columns, 40px each */
    grid-template-rows: repeat(20, 25.5px);    /* 50 rows, 40px each */
  }
  @keyframes growFromCenter {
    from {
      transform: scale(0);
      transform-origin: center;
    }
    to {
      transform: scale(1);
      transform-origin: center;
    }
  }
.cell {
    width: 25.5px;
    height: 25.5px;
    border: 1px solid #ccc;
    background-color: white;
    position: relative;
  }
/* Style for animated elements */
.animate {
    background: red;
    animation: growFromCenter 0.85s forwards; /* 'forwards' keeps the end state */
  }

  .start {
    background-color: green;
}

.end {
    background-color: red;
}

.visited {
    background-color: lightblue; /* Color for visited nodes */
}

.path {
    background-color: yellow; /* Color for the path */
}