body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Title */
#Title {
  display: flex;
  justify-content: center;
}

/* Sidebar styles */
#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 1;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000; /* Ensure sidebar is on top of other content */
}

/* Sidebar links */
#sidebar a {
  padding: 8px 8px 8px 12px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* Hover effect for sidebar links */
#sidebar a:hover {
  background-color: #575757;
}

/* Close button styling */
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 36px;
  color: white;
  cursor: pointer; /* Pointer cursor to indicate it's clickable */
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  padding: 0; /* Remove extra padding */
  width: auto; /* Adjust width to fit content */
  height: auto; /* Adjust height to fit content */
  z-index: 1001; /* Ensure the close button is on top of other elements */
}

/* Dropdown toggle styling */
.dropdown-toggle {
  cursor: pointer; /* Pointer cursor to indicate it's clickable */
}

/* Dropdown content styling */
.dropdown-content {
  display: none;
  background-color: #333;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%; /* Adjust width as needed */
}

/* Dropdown links */
.dropdown-content a {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
  background-color: #575757;
}

/* Show dropdown content */
.show {
  display: block;
}

























#grid {
    display: grid;
    grid-template-columns: repeat(50, 30px);
    grid-template-rows: repeat(20, 30px);

  }
  
.cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    border: 1px solid #ddd;
  }

.start {
    background-color: red;
  }
  
.end {
    background-color: green;
  }

