.grid {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border: 3px solid rgb(73, 231, 158);
  background-color: rgb(255, 245, 238);
}

@media(max-width: 991px) {
  .sidebar {
    background-color: rgba(0, 0, 0, 0.434);
    backdrop-filter: blur(10px);
  }
}

.navbar-brand {
  color: white;
}

/* Change the navbar-toggler button color to white */
.navbar-toggler {
  color: white; /* Button text color */
  border-color: white; /* Button border color */
}

/* Change the navbar-toggler icon color to white */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#wall-button {
  background-color: rgb(133, 133, 133);
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding-inline: 12px;
  padding-block: 0px;
  margin-top: 7px;
  margin-inline: 7px;
}

#start-button {
  background-color: green;
  color: white;
  border: 2px solid green;
  border-radius: 5px;
  padding-inline: 12px;
  padding-block: 0px;
  margin-top: 7px;
  margin-right: 10px;
}

#clear-button {
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 5px;
  padding-inline: 12px;
  padding-block: 0px;
  margin-top: 7px;
}

#light-weight-button {
  background-color: rgb(218, 247, 166);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0;
  
  font-size: 1rem;
  text-align: center;
}

#light-weight-button:hover {
  background-color:rgb(188, 217, 136);
  color: white;
}

#medium-weight-button {
  background-color: rgb(255, 195, 0);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0;
  
  font-size: 1rem;
  text-align: center;
}

#medium-weight-button:hover {
  background-color: rgb(220, 165, 0);
  color: white;
}

#heavy-weight-button {
  background-color: rgb(255, 87, 51);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0;
  
  font-size: 1rem;
  text-align: center;
}

#heavy-weight-button:hover {
  background-color: rgb(220, 67, 41);
  color: white;
}